/* * {
    box-sizing: border-box;
} */

/* svg {
    box-shadow: 10px -10px darkgreen;
} */

body {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(abstract.jpg);
    background-size: cover;
}

#board {
    display: grid;
    position: relative;
    /* align-content: center; */
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: auto;
    width: 700px;
    height: 600px;
    /* box-sizing: border-box; */
    /* border: 2px solid black; */
}

.spot {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: transparent;
    margin: 10px 10px 20px 10px;
    /* visibility: hidden; */
    /* z-index: -1; */
    /* box-sizing: border-box; */
}

.spot:last-child {
    margin-bottom: 10px;
}

.yellow {
    background-color: gold;
    animation: slide 1s ease-in;
    box-shadow: inset 0 0 0 2px goldenrod;
    /* animation: color_change2 2s; */
}

.red {
    background-color: orangered;
    animation: slide 1s ease-in;
    box-shadow: inset 0 0 0 2px darkred;
    /* animation: color_change1 2s; */
}

@keyframes slide {
	0% {transform: translateY(-700%);}
    100% {transform: translateY(0%);}
}

/* @keyframes color_change1 {
	from { background-color: white; }
	to { background-color: orangered; }
}

@keyframes color_change2 {
	from { background-color: white; }
	to { background-color: blue; }
} */

.column {
    z-index: 15;
    /* box-sizing: border-box; */
}

.column:hover {
    /* border-left: 2px solid purple;
    border-right: 2px solid purple; */
    box-shadow: inset 0 0 0 2px cyan;
    cursor: pointer;
}










#container {
    color:#999;
    text-transform: uppercase;
    font-size:36px;
    font-weight:bold;
    padding-top:10px;  
    width:100%;
    display:block;
  }
  
  #flip {
    height:50px;
    overflow:hidden;
  }
  
  #flip > div > div {
    color:#fff;
    padding:4px 12px;
    height:45px;
    margin-bottom:45px;
    display:inline-block;
  }
  
  #flip div:first-child {
    animation: show 5s linear infinite;
  }
  
  #flip div div {
    background:#42c58a;
  }
  #flip div:first-child div {
    background:#4ec7f3;
  }
  #flip div:last-child div {
    background:#DC143C;
  }
  
  @keyframes show {
    0% {margin-top:-270px;}
    5% {margin-top:-180px;}
    33% {margin-top:-180px;}
    38% {margin-top:-90px;}
    66% {margin-top:-90px;}
    71% {margin-top:0px;}
    99.99% {margin-top:0px;}
    100% {margin-top:-270px;}
  }